a {
  text-decoration: none;
  color: rgb(255, 151, 82);
  transition: color 0.3s;
}
a:hover {
  color: rgb(143, 253, 40);
}
.about_us > div {
  flex-basis: 50%;
}
.about > div:first-child {
  padding: 40px 0;
}
.about_us .button,
.about_us button {
  width: 200px;
  padding: 11px;
  text-transform: capitalize;
}
.about_us .btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
  transform: border 0.3s, color 0.3s;
}
.about_us button:nth-child(2) {
  margin: 20px 0px;
}
.about_us_slider h2 {
  padding-top: 0;
}
.about_us .btn-outline-secondary {
  background: transparent;
}
button.btn.btn-primary,
.button.btn.btn-primary {
  height: 50px;
  border-radius: 23px;
  align-items: center;
  justify-content: center;
  width: 220px;
  text-transform: capitalize;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.carousel {
  flex-basis: 100%;
}
.carousel button,
.carousel .button {
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid;
  margin-top: 2rem;
  display: flex;
  transition: color 0.3s, border-color 0.3s;
  border-color: #fff;
}
.carousel button:hover,
.carousel .button:hover,
.about_us .btn-outline-secondary:hover {
  color: rgb(143, 253, 40);
  border-color: rgb(143, 253, 40);
}
.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 6.25rem;
  left: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  width: 60%;
  margin: auto;
}
.carousel h1 {
  text-align: left;
  padding-bottom: 0;
}
.carousel h3 {
  color: white;
  opacity: 1;
  font-size: 1.2rem;
  font-weight: bold;
}
.carousel,
.courousel * {
  height: 100%;
}
.carousel-inner,
.carousel-inner .carousel-item {
  height: 100%;
}
.flex {
  display: flex;
}
form button {
  height: 80px;
  border-radius: 8px;
  width: 200px;
}
form input {
  height: 80px;
  border-radius: 8px;
}
form label {
  font-weight: bold;
  font-size: 0.9rem;
  display: block;
  text-align: left;
}
#get-inspired .slider-nav {
  font-size: 65px;
  fill: rgb(189, 189, 189);
}
#get-inspired div#view-window {
  width: 70%;
  overflow: hidden;
}
#get-inspired div#slider {
  right: 0px;
  transition: right 0.25s;
}
#get-inspired .circle-frame {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  overflow: hidden;
  border: 9px solid white;
  box-shadow: 0px 0px 4px black;
  display: flex;
}
#get-inspired p.text {
  display: -webkit-box;
  overflow: hidden;
  text-align: left;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#get-inspired .testimonial {
  width: 218px;
  padding: 10px;
}
h1 {
  font-size: 4rem;
  font-family: sans-serif;
  font-weight: 800;
  text-transform: capitalize;
  margin: 0;
  padding-bottom: 4rem;
}
h2 {
  font-size: 1.75rem;
  color: #819ddd;
  padding: 20px 0px;
  margin: 0;
}
#header #logo {
  height: 40px;
  width: auto;
  fill: white;
  stroke: white;
}
#header #logo .edura1,
#header #logo .edura0 {
  fill: none;
  stroke: white;
}
#header #logo svg {
  height: 40px;
  width: auto;
}
.not_flex {
  display: block;
}
#our_partners div {
  display: flex;
  align-items: center;
}
#our_partners img {
  display: block;
  padding: 0 28px;
  width: 90%;
}
.ourServices p {
  text-align: left;
}
.ourServices.flex.main .service {
  flex-basis: 303px;
}
.ourServices.flex.main {
  width: 43%;
}
.ourServices .service img {
  height: 193.6px;
  overflow: hidden;
}
section {
  width: 100%;
  padding: 6rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section .main {
  width: 60%;
  min-width: 920px;
  justify-content: space-around;
  padding: 20px;
}
section#about_us,
section#get_inspired {
  background: #efefef;
}
section > div {
  width: 100%;
}
section > h1 {
  flex-basis: 100%;
}
section#header {
  border: 0;
}
#slider {
  padding: 0;
  height: 60vh;
  min-height: 600px;
}
#slider .slide::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  opacity: 0.55;
}
#slider .carousel-caption {
  height: 375px;
}
#slider ul {
  list-style-type: disc;
}
section#footer {
  background: lightgray;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: start;
}
section#footer > * {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#footer .social_media_links,
section#header .social_media_links {
  padding: 0;
  width: 280px;
}
section#footer .social_media_links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
section#footer div:nth-child(3) {
  width: 280px;
  padding: 0 56px;
}
section#footer,
section#footer a {
  color: white;
}
section#header {
  background: #071e4a;
  height: 80px;
  padding: 0;
  align-items: center;
}
section#header,
section#header a,
section#header > ul,
section#header .social_media_links,
section#footer .social_media_links {
  display: flex;
  margin: 0;
  position: relative;
}
section#header > ul > li,
section#footer > ul > li,
section#header > ul > li a,
section#footer > ul > li a {
  padding: 0px 10px;
  list-style-type: none;
  align-items: center;
  align-content: center;
  display: flex;
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 0.85rem;
  font-weight: bold;
}
section#footer ul {
  padding: 0;
  text-align: left;
}
section#header > ul > li,
section#header > ul {
  height: 100%;
}
section#header li.submenu > a {
  color: black;
  text-decoration: none;
}
section#header ul.social_media_links svg,
section#footer ul.social_media_links svg {
  height: 21px;
}
section#header > li {
  position: header;
}
section#header li .submenu {
  display: none;
  background: white;
  color: black;
  position: absolute;
  top: 100%;
  list-style-type: none;
  box-shadow: 0px 0px 4px black;
  color: black;
  opacity: 0;
  transition: opacity 0.6s;
  padding: 10px;
  z-index: 4;
}
section#header li .submenu a {
  text-decoration: none;
  color: black;
}
section#header li:hover .submenu {
  display: block;
  opacity: 1;
}
#slider.carousel-inner .carousel-item {
  color: white;
}
#slider .slideText {
  text-align: left;
  width: 45%;
  font-size: 1rem;
}
.slider-nav {
  height: 65px;
  fill: #777;
}
#stay_connected .row1 div,
#stay_connected .row2 {
  padding: 10px;
}
#stay_connected input {
  width: 100%;
  border: 1px solid #777;
}
#stay_connected .row1 {
  display: flex;
}

#stay_connected .row1 > div {
  flex-basis: 50%;
}

ul {
  list-style-type: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
