.about_us > div {
  flex-basis: 50%;
}
.about > div:first-child {
  padding: 40px 0;
}
.about_us button {
  width: 30%;
  padding: 10px;
}
.about_us button:nth-child(2) {
  margin: 20px 0px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.carousel {
  flex-basis: 100%;
}

.flex {
  display: flex;
}
form button {
  height: 80px;
  border-radius: 8px;
  width: 200px;
}
form input {
  height: 80px;
  border-radius: 8px;
}
form label {
  font-weight: bold;
  font-size: 0.9rem;
  display: block;
  text-align: left;
}
#get-inspired .slider-nav {
  font-size: 65px;
  fill: rgb(189, 189, 189);
}
#get-inspired div#view-window {
  width: 70%;
  overflow: hidden;
}
#get-inspired div#slider {
  right: 0px;
  transition: right 0.25s;
}
#get-inspired .circle-frame {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  overflow: hidden;
  border: 9px solid white;
  box-shadow: 0px 0px 4px black;
}
#get-inspired p.text {
  display: -webkit-box;
  overflow: hidden;
  text-align: left;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#get-inspired .testimonial {
  width: 218px;
  padding: 10px;
}
#logo {
  height: 40px;
  width: auto;
}
.not_flex {
  display: block;
}
section {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section .main {
  width: 75%;
  justify-content: space-around;
}
section > div {
  width: 100%;
}
section > h1 {
  flex-basis: 100%;
}
section#footer {
  background: lightgray;
}
section#footer,
section#footer a {
  color: white;
}
section#header {
  background: #071e4a;
  height: 80px;
  padding: 0;
  align-items: center;
}
section#header,
section#header a,
section#header > ul,
section#footer > ul {
  display: flex;
  margin: 0;
  position: relative;
}
section#header > ul > li,
section#footer > ul > li,
section#header > ul > li a,
section#footer > ul > li a {
  padding: 0px 10px;
  list-style-type: none;
  align-items: center;
  align-content: center;
  display: flex;
  color: white;
  cursor: pointer;
}
section#header li.submenu > a {
  color: black;
  text-decoration: none;
}
section#header > ul.social_media_links svg,
section#footer > ul.social_media_links svg {
  height: 21px;
}
section#header li .submenu {
  display: block;
  background: white;
  color: black;
  position: absolute;
  top: 50px;
  list-style-type: none;
  box-shadow: 0px 0px 4px black;
  color: black;
  opacity: 0;
  transition: opacity 0.6s;
  padding: 10px;
  z-index: 4;
}
section#header li .submenu a {
  text-decoration: none;
  color: black;
}
section#header #assessment_main_nav:hover .submenu {
  opacity: 1;
}
.slider-nav {
  height: 65px;
  fill: #777;
}
#stay_connected .row1 div,
#stay_connected .row2 {
  padding: 10px;
}
#stay_connected input {
  width: 100%;
  border: 1px solid #777;
}
#stay_connected .row1 {
  display: flex;
}

#stay_connected .row1 > div {
  flex-basis: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
